
@import "tailwindcss";

:root {
  --color-primary-light: #fdba74; /* Light Orange bg-orange-300 */
  --color-primary: #f97316; /* Main Orange bg-orange-500*/
  --color-primary-dark: #c2410c; /* Dark Orange bg-orange-700 */
  --color-primary-hover: #ea580c; /* Hover Effect bg-orange-600 */
  --color-primary-border: #d97706; /* Border ke liye */
}

.bg-\[var\(--color-primary-light\)\] {
  background-color: var(--color-primary-light);
}

.bg-\[var\(--color-primary\)\] {
  background-color: var(--color-primary);
}

.bg-\[var\(--color-primary-dark\)\] {
  background-color: var(--color-primary-dark);
}

.bg-\[var\(--color-primary-hover\)\] {
  background-color: var(--color-primary-hover);
}

.border-\[var\(--color-primary-border\)\] {
  border-color: var(--color-primary-border);
}